{
  "app": {
    "port": "8080",
    "name": "Wiradana Backend"
  },
  "database": {
    "dsn": "postgresql://postgres.PROJECT_REF:PASSWORD@aws-1-REGION.pooler.supabase.com:6543/postgres?sslmode=require",
    "migration_dsn": "postgresql://postgres:PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
  },
  "jwt": {
    "secret": "your-random-secret-minimum-32-characters",
    "expiration_hours": 24
  },
  "ocr": {
    "api_key": "YOUR_API_CO_ID_KEY",
    "base_url": "https://use.api.co.id"
  }
}
